*.mp4
#*.mov
*~
#*.json
.ipynb_checkpoints
__pycache__
*.log
*WithKeypoints.avi
*_rotated.avi
.env*
*.pth
*.xlsx

# Data
*/Data/*
Data/
Examples/Data/*
*.snakemake
*.csv

*.ini
*.stats

tests/

*.swp
.DS_Store
