*.mp4
#*.mov
*~
#*.json
.ipynb_checkpoints
__pycache__
*.log
*WithKeypoints.avi
*_rotated.avi
.env
*.pth

# Data
*/Data/*
Data/
Examples/Data/*

# Files for re-processing
Examples/reprocessSessionServer.py
Examples/reprocessDataServer.py

*.ini
*.stats

tests/

newsletter.py
