opencv-python==4.5.1.48
pyyaml==5.4.1
# tensorflow-gpu==2.4.1 # install with conda
tensorflow-gpu==2.9.3 # enabled for the docker 
scipy==1.9.0
pandas==1.1.5
matplotlib==3.3.4
ipython
regex
maskpass==0.3.6
python-decouple==3.5
protobuf==3.19.5
scikit-learn
pingouin==0.5.2
openpyxl
ffmpeg-python
psutil
